In [8]:
import pandas as pd

# Đọc file JSON vào DataFrame
df = pd.read_json("../data/real-estate.json")

# In ra DataFrame để kiểm tra
df.head(5)

,LoaiHinhDat,DienTichDat,Gia/M2,GiayToPhapLy,ChieuNgang,ChieuDai,HuongDat,DacDiemNha/Dat,Mã Tỉnh,Mã Quận Huyện,Mã Phường
0,0,100.0,6.50,0.0,5.0,20.0,0,190,79,783,27496
1,0,171.0,178.36,0.0,9.0,19.0,0,190,79,764,26876
2,0,90.0,21.44,0.0,5.0,18.0,2,23,48,494,20287
3,0,123.0,22.76,0.0,4.1,30.0,0,190,74,724,25951
4,0,109.0,10.55,0.0,5.5,20.0,1,109,38,397,15721